/*
padding com 2 valores
padding : top/botton rigth/left
padding com 3 valores

padding com 4 valores

*/

ul {
    list-style: none;
}

.tarefa{
    border: 1px rgb(216, 214, 214) solid;
    border-radius: 16px;
    padding: 16px;
}

.descricao__tarefa{
    display: flex; /* usar sempre esse flex pra usar os outros abaixo*/
    gap: 20px; /* espaçamento entre itens* */
    align-items: center;
    
}

h2 {
    border-right: 1px rgb(216, 214, 214) solid;
    padding-right: 16px;
}

.etiquetas{
    display: flex;
    gap: 8px

}

.etiqueta{
    border: 1px rgb(216, 214, 214) solid;
    padding: 4px 8px;
    border-radius: 4px;
}

.etiqueta__prioridade{
    padding: 4px 8px;
    border-radius: 4px;
}

.etiqueta__alta{
    background-color: red;
}

.etiqueta__media{
    background-color: yellow;
}

.etiqueta__baixa{
    background-color: green;
}
